@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Naruto';
  src: url('../../fonts/njnaruto.ttf') format('truetype');
}

@font-face {
  font-family: 'Ninja';
  src: url('../../fonts/ReggaeOne-Regular.ttf') format('truetype');
}

@layer components {

  .heroButton {
      @apply px-3 md:px-6 py-2 border border-[#000] rounded-full uppercase tracking-widest transition-all hover:border-[#fff] hover:text-[#FF4500]
  }

  .contactInput {
      @apply outline-none bg-[#333333]/90 rounded-tl-3xl border-b px-6 py-4 border-[#0c2fdf] placeholder-[#00bfff]/40 transition-all focus:border-[#FF4500]/80 focus:text-[#00bfff]/60 hover:border-[#FF4500]/80
  }

  .narutoTextName {
    font-family: 'Naruto', sans-serif;
    color: rgb(255, 68, 0); /* Text color */
    /* -webkit-text-stroke: #0c2fdf; */
    text-shadow: 
      -1px 0px 0 #fff,
      1px 0px 0 #fff,
      0px -2px 0 #fff,
      
      -2px 0px 0 #fff,
      2px 0px 0 #fff,
      0px 3px 0 #fff,
     
      -4px -4px #000,
      -4px 4px #000,
      4px -4px 0 #000,
      4px 4px 0 #000,
      -6px 0 0 #000,
      6px 0 0 #000,
      0 -6px 0 #000,
      0 6px 0 #000,
      /* px -5px 0 #000, */
      
      6px 10px 0 #0c2fdf,
      10px 6px 0 #0c2fdf;

      /* -2px -2px 0 #0c2fdf,  
      2px -2px 0 #0c2fdf,
      -2px 2px 0 #0c2fdf,
      5px 5px 0 #0c2fdf; */
  }

  .narutoText {
    font-family: 'Naruto', sans-serif;
    color: #0c2fdf; /* Text color */
    text-shadow: 
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000; 
    /* text-shadow: 
      -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff; */
  }

  .narutoText2 {
    font-family: 'Naruto', sans-serif;
    color: #0c2fdf; /* Text color */
    text-shadow: 
      -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff; /* Border-like shadow */
  }

  .ninjaText {
    font-family: 'Ninja', sans-serif;
    color: #fff; /* Text color */
    /* text-shadow: 
      -2px -2px 0 #000,
      2px 2px 0 #000; */
     
  }

  .ninjaText1 {
    font-family: 'Ninja', sans-serif;
    color: #F5EDED;
    text-shadow: 
      -2px -2px 0 #000,
      2px 2px 0 #000;

  }

  .rasenganCursor {
    cursor: url('../../assets/rasenganKunai.cur'), auto;
  }

  .kunaiCursor {
    cursor: url('../../assets/kunai.cur'), auto;
  }

  .modalContainerMobile {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .modalContainerMedium {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .modalContainer {
    position: fixed;
    top: 0;
    left: -3%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .modalCard {
    width: 900px;
    height: 500px;
    background-color: white;
  }
  
  /* Close Button */
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: black;
  }
  
  /* Project Demo Link */
  .modalCard p {
    margin-bottom: 10px; /* Adjust margin as needed */
  }


}